# 環境変数ファイル
.env

# Railsの一般的な除外ファイル
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
.byebug_history
/config/master.key
/config/credentials/*.key
/node_modules
/yarn-error.log
/public/packs
/public/assets

# Docker関連
.dockerignore
